# Backend
DATABASE_URL=sqlite:///./donation_system.db
HOST=127.0.0.1
PORT=8000

# Blockchain local RPC
WEB3_PROVIDER_URL=http://127.0.0.1:8545
DONATION_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
DONATION_CONTRACT_ABI_PATH=../blockchain/artifacts/contracts/DonationPlatform.sol/DonationPlatform.json

# Frontend
VITE_API_BASE_URL=http://127.0.0.1:8000
